img {
  width: 100%;
}

.navbar {
  background: linear-gradient(90deg, rgb(85, 70, 219)0%, rgb(47, 41, 151)100%);
}

.navbar-brand {
  background: none;
  padding: 0;
  border: none;
}
.navbar-brand:focus {
  outline: none;
  box-shadow: none;
}

.search {
  display: flex;
}

.searchBar {
  background-color: white;
  padding-left: 10px;
  border: 0;
  width: 300px;
  outline: none;
}

.searchIcon {
  height: 35px;
  width: 30px;
  border: 0;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchIcon:focus {
  outline: none;
  box-shadow: none;
}

.searchIcon svg {
  font-size: 25px;
  color: black;
}

.searchBar {
  height: 35px;
  margin-left: 0%;
}

.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.payment-success {
  margin-left: 20px;
  display: 'flex';  
  justify-content:'center'; 
  align-items:'center'; 
  height: '100vh';
}

.logout-btn {
  margin-left: 50px;
}

.edit-name-labels{
  display: flex;
  justify-content: center;
}

.name-label{
  display: block;
  outline: none;
  border-radius: 2px;
  width: 50%;
  border: none;
}

.name-input{
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 50%;
  border: none;
}

.edit-name-inputs{
  display: flex;
  justify-content: center;
}

.text-area-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 150px;
  width: 100%;
  border: none;
}

.edit-inputs p {
  position: absolute;
  font-size: 0.7rem;
  color: #f00e0e;
}

.about-item {
  margin-right: 21px;
}

.review-time-label {
  font-size: 0.8rem;
}

.review-review-label {
  margin-left: 64px;
}

.review-reviewer-label {
  margin-left: 58px;
  font-style: italic;
}

.star-rating {
  margin-left: 40px;
  margin-bottom: -10px;
}

.star-rating-input p{
  position: absolute;
  font-size: 0.7rem;
  margin-top: -34px;
  margin-left: 90px;
  color: #f00e0e;
}


.review-input p{
  position: absolute;
  font-size: 0.7rem;
  margin-top: 5px;
  color: #f00e0e;
}

.csv-button {
  display: flex;
  justify-content: space-between;
}

.csv-button-1{
  justify-content: right;
  margin-bottom: 15px;
}